<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am a software engineer with 1+ years of experience
           in web application development, problem-solving, 
           team-building, and team-building. I have worked on many projects 
           starting from school mini-projects to large scale projects in two local companies. 
        </p>
        <p>
          I’m a hands-on technical developer who 
          has built software products from the ground up, 
          solved problems, and delivered new ideas to be solved 
          with a software product. I get motivated by problem-solving, 
          product success and business growth, not just technology for technology’s sake.

        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Involved in building some web applications.
    			</li>
          <li>
            Tested and maintained an already built system.
          </li>
          <li>
            Able to learn and implement new technologies quickly. 
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
