<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It is an exciting time for machine learning. I am working through an online class, and reading articles related to it.
			  </li>
			  <li>
				  <b>Cloud-computing</b>. I have taken a course and received a certification from Microsoft with Azure. And, I am still learning through tutorials and articles.
			  </li>
			  <!-- <li>
				  <b>Mountaineering</b>. I live in the Pacific Northwest, home of some of the greatest mountains and trails in the country. I enjoy spending weekends
          on scrambles and getting lost in the woods.
      		</li> -->
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				Masterlance: </br>

				A local freelancing web application.</br>
				Working on 50% of use-cases in the backend(loopback).</br>
				Working on designing a web UI with vue js.</br>
				Managing docker services
				
    		</li>
  			<li>
				AkAcademy:</br>

				E-learning web application</br>
				Built the web UI using React js.</br>
				Managed the connection with the backend team.</br>				
          	</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Voluntary activity
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
